*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background-color: $color-black;
  font-size: 16px;
}

body {
  color: $color-white;
  font-family: 'Courier New', Courier, monospace;
}

#__nuxt, #__layout, #app {
  height: 100%;
}


